{
    "presets": ["react-native"],
    "plugins": ["transform-function-bind"],
    "env": {
        "test": {
            "plugins": ["rewire"]
        },
        "production": {
            "plugins": ["transform-remove-console"]
        }
    }
}
